{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link type="text/css" rel="stylesheet" href="{% static "css/materialize.min.css" %}"  media="screen,projection"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Todo List | PyCon Philippines 2015</title>
</head>
<body>
  <h1>Hello, World!</h1>
  <script type="text/javascript" src="{% static "js/jquery-2.1.4.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/materialize.min.js" %}"></script>
</body>
</html>
